# Virtual Environment
env/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
db.sqlite3
*.log

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# PIP
pip-wheel-metadata/